@inject IWebAPI WebApi

@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor
@inject INotificationService Notifier
<ToastWrapper Name="GenericEditDetailGridToasts" />
@if(TypeToDisplay!=null)
{
    @* <h3>Sub Business Objects of: @typeof(TItem)</h3> *@
    <DxGrid @ref="Grid"
    Data="@Items"
    KeyFieldNames="@KeyFieldNames"
    ValidationEnabled="true"
    EditMode="GridEditMode.EditCell"
    PageSize="30"
    ColumnResizeMode="GridColumnResizeMode.NextColumn"
    TextWrapEnabled="false"
    HighlightRowOnHover="true"
    AllowColumnReorder="true"
    AllowDragRows="true"
    AllowedDropTarget="GridAllowedDropTarget.Internal"
    AllowGroup="true"
    AllowSort="true">

        <Columns>
            @foreach (var prop in propertyInfos)
            {
                // Skip complex types
                if (prop.PropertyType.IsClass && prop.PropertyType != typeof(string))
                    continue;
                <DxGridDataColumn FieldName="@prop.Name"
                Caption="@GetDisplayName(prop)"
                DataRowEditorVisible=true />
            }

            <DxGridCommandColumn Width="120px" />
        </Columns>
    </DxGrid>
    @ChildContent
}
@code {
    IGrid? Grid { get; set; }
    [Parameter]
    public IEnumerable<object> Items { get; set; } = Array.Empty<IEnumerable<object>>();
    private PropertyInfo[] propertyInfos { get; set; } = Array.Empty<PropertyInfo>();
    private string[]? KeyFieldNames { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter] public Type? TypeToDisplay { get; set; }
    // private PropertyInfo[] ScalarProperties { get; set; } = [];
    // private PropertyInfo[] ComplexProperties { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if(Items==null || Items.Count()<=0)
            {

            }
            else
            {
                ArgumentNullException.ThrowIfNull(TypeToDisplay);
                KeyFieldNames = GetKeyFieldNames(TypeToDisplay);
                if (Items != null && Items.Count() > 0)
                {
                    var item = Items.FirstOrDefault();
                    if (item != null)
                    {
                        propertyInfos = item.GetType().GetProperties();
                    }
                }
                else
                {
                    Notifier.ShowError("GenericEditDetailGridToasts", $"Items is null or empty", "Error in OnInitializedAsync!");
                }
            }
            await base.OnInitializedAsync().ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex.ToString()}", "Error in OnInitializedAsync!");
        }
        // DataSource = await NwindDataService.GetEmployeesEditableAsync();
    }
    // protected override void OnParametersSet()
    // {
    //     var type = typeof(TItem);
    //     var props = type.GetProperties(BindingFlags.Public | BindingFlags.Instance);

    //     ScalarProperties = props
    //         .Where(p => !p.PropertyType.IsClass || p.PropertyType == typeof(string))
    //         .ToArray();

    //     ComplexProperties = props
    //         .Where(p => p.PropertyType.IsClass && p.PropertyType != typeof(string) && !typeof(System.Collections.IEnumerable).IsAssignableFrom(p.PropertyType))
    //         .ToArray();

    //     KeyFieldNames = props
    //         .Where(p => p.GetCustomAttribute<KeyAttribute>() != null || p.Name.Equals("Id", StringComparison.OrdinalIgnoreCase))
    //         .Select(p => p.Name)
    //         .ToArray();
    // }

    // private async Task<IEnumerable<object>> LoadData()
    // {
    //     try
    //     {
    //         // Items = (IEnumerable<object>) await WebApi.GetAllAsync(TypeToDisplay) ?? [];
    //         return Items;
    //     }
    //     catch (Exception ex)
    //     {
    //         Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex.ToString()}", "Error in LoadData!");
    //         return default;
    //     }

    // }

    // async Task UpdateDataAsync()
    // {
    //     try
    //     {
    //         Items = await LoadData();
    //     }
    //     catch (Exception ex)
    //     {
    //         Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex.ToString()}", "Error in UpdateDataAsync!");
    //     }
    // }
    // private async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    // {
    //     try
    //     {

    //     }
    //     catch (Exception ex)
    //     {
    //         Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex.ToString()}", "Error in Grid_DataItemDeleting!");
    //     }
    //     // await WebApi.DeleteAsync(e.Data);
    //     // await Refresh();
    // }
    // void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    // { DxGrid ->CustomizeEditModel="Grid_CustomizeEditModel"
    //     if (e.IsNew)
    //     {
    //         var newEmployee = (EditableEmployee)e.EditModel;
    //         newEmployee.FirstName = "John";
    //         newEmployee.LastName = "Doe";
    //     }
    // }
    // async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    // {
    //     try
    //     {

    //     }
    //     catch (Exception ex)
    //     {
    //         Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex.ToString()}", "Error in Grid_EditModelSaving!");
    //     }
    //     // var editableEmployee = (EditableEmployee)e.EditModel;
    //     // if (e.IsNew)
    //     //     await NwindDataService.InsertEmployeeAsync(editableEmployee);
    //     // else
    //     //     await NwindDataService.UpdateEmployeeAsync((EditableEmployee)e.DataItem, editableEmployee);
    //     // await UpdateDataAsync();
    // }

    private string[] GetKeyFieldNames(Type typeToGetKeyFieldNamesFrom)
    {
        try
        {
            var keyProps = typeToGetKeyFieldNamesFrom.GetProperties()
                .Where(p => p.GetCustomAttribute<KeyAttribute>() != null ||
                            p.Name.Equals("Id", StringComparison.OrdinalIgnoreCase))
                .Select(p => p.Name)
                .ToArray();

            return keyProps;
        }
        catch (Exception ex)
        {
            Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex}", "Error in GetKeyFieldNames!");
            return Array.Empty<string>();
        }
    } 
    // private async Task Refresh()
    // {
    //     try
    //     {
    //         Items = (IEnumerable<object>)await WebApi.GetAllAsync(TypeToDisplay) ?? [];
    //         // Items = await WebApi.GetAllAsync<TItem>() ?? [];
    //         
    //     }
    //     catch (Exception ex)
    //     {
    //         Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex.ToString()}", "Error in Grid_EditModelSaving!");
    //     }

    // }

    private string GetDisplayName(PropertyInfo prop)
    {
        try
        {
            var displayAttr = prop.GetCustomAttribute<DisplayAttribute>();
            return displayAttr?.Name ?? prop.Name;
        }
        catch (Exception ex)
        {
            Notifier.ShowError("GenericEditDetailGridToasts", $"Exception: {ex.ToString()}", "Error in Grid_EditModelSaving!");
            return string.Empty;
        }
      
    }
}